table {
	width: 100%;
	overflow-wrap: break-word;
}

.tc_table {
	border: 1px solid black;
}

th {
	text-align: center;
    font-weight: bold;
}

th.tcTableHeaders {
	text-align: left;
	padding: 5px;
}

td.tcRightAlign {
	text-align: right;
}

td.tcBold {
	font-weight: bold;
}

td.tcCenterAlign {
	text-align: center;
}

th,
td {
	padding: 1px 4px;
}

tfoot td {
	border-top: 2px solid black;
	margin-top: 3px;
}

tbody tr:nth-child(2n+1) {
	background: #EEE;
}

.string {
	text-align: left;
}

.method,
.number {
	text-align: right;
	white-space: nowrap;
}

.numberCenter .number {
	text-align: center;
}

.minus {
	color: red;
}

.edit {
	cursor: pointer;
	vertical-align: middle;
	opacity: 1;

	font: normal normal normal 14px/1 FontAwesome;

	-webkit-box-sizing: content-box;
	box-sizing: content-box;

	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 6px;
	padding: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	font-size: 18px;
	-ms-high-contrast-adjust: none;
}

.edit:before {
	content: "\f040";
	padding-right: 1em;
}

@media print {
  .tc-hidden-print {
    width: 0px;
    overflow: hidden;
    font-size: 0;
    padding: 0;
    margin: 0;
  }

  .tc-hidden-print * {
    display: none;
  }



  .container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .jumbotron {
    display: none;
  }
}
