table {
	width: 100%;
	overflow-wrap: break-word;
}

table,td {
	border: 1px solid black;
}

th {
	text-align: center;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

th:first-child {
	border-left: 1px solid black;
}

th:last-child {
	border-right: 1px solid black;
}

td.tcRightAlign {
	text-align: right;
}

td.tcBold {
	font-weight: bold;
}

td.tcCenterAlign {
	text-align: center;
}

th,
td {
	padding: 1px 4px;
}

tfoot td {
	border-top: 2px solid black;
	margin-top: 3px;
}

tbody tr:nth-child(2n+1) {
	background: #EEE;
}

.string {
	text-align: left;
}

.number {
	text-align: center;
}