table {
	width: 100%;
	overflow-wrap: break-word;
}

.tc_table {
	border: 1px solid black;
}

.tc_table * {
	border-color: #ccc;
}

th {
	text-align: center;
    font-weight: bold;
}

th.tcTableHeaders {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid;
	border-right: 0 !important;
}

th.tcTableHeaders.tc-hidden-print {
	border-bottom: 0;
}

th {
	border-right: 1px solid;
}
td {
	border-right: 1px solid;
}

th.tcActionRow,
td.tcActionRow {
	border-right: 1px solid;
	text-align: right;
}

th:nth-last-child(2),
td:nth-last-child(2) {
	border-right: 1px solid black;
}

td.tcRightAlign {
	text-align: right;
}

td.tcBold {
	font-weight: bold;
}

td.tcCenterAlign {
	text-align: center;
}

th.tcLeftAlign,
td.tcLeftAlign {
	text-align: left;
}

th,
td {
	padding: 1px 4px;
}

tfoot td {
	border-top: 2px solid;
	margin-top: 3px;
}

tfoot td.tcActionRow {
	border-top: 0;
}

tbody tr:nth-child(2n+1) {
	background: #EEE;
}

.string {
	text-align: left;
}

.method,
.number {
	text-align: right;
}

.tc_table .percent {
	text-align: center;
}

td.method,
td.number {
	white-space: nowrap;
}

.numberCenter .number {
	text-align: center;
}

.minus {
	color: red;
}

.tcActionRow {}

a.tcAction:hover,
a.tcAction:focus {
	text-decoration: none;
}

.tcComment {
    margin: 1em 3em 0;
    font-style: italic;
}

.edit,
.undo,
.delete {
	cursor: pointer;
	vertical-align: middle;
	opacity: 1;

	font: normal normal normal 14px/1 FontAwesome;

	-webkit-box-sizing: content-box;
	box-sizing: content-box;

	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 6px;
	padding: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	font-size: 18px;
	-ms-high-contrast-adjust: none;
}

.edit:before {
	content: "\f040";
	padding-right: 1em;
}

.undo:before {
	content: "\f0e2";
	padding-right: 1em;
}

.delete:before {
	content: "\f00d";
	padding-right: 1em;
}

.add {
	margin-top: 3px;
	display: inline-block;
	cursor: pointer;
	padding: 3px;
}

.add:before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 18px;
	content: "\f067";
	padding-right: 1em;
	vertical-align: middle;
}

.tc_warning {
	border: 3px solid #FF4500;
}

@media print {
  .tc-hidden-print {
    display: none;
  }

  td,
  th {
  	border-right: 1px solid;
  }

  thead {
  	border-bottom: 1px solid;
  }

  .container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .jumbotron {
    display: none;
  }
}
